.Covid {
  display: flex;
  flex-direction: column;
  .covid {
    display: flex;

    justify-content: center;
    align-items: center;
    width: 1220px;
    height: 676px;
    border-radius: 24px;
    gap: 72px;
    background: #211f54;
    margin-top: 155px;
    .imags {
      img {
        margin-left: -153px;
      }
    }
    .word {
      a {
        font-family: Roboto;
        font-size: 16px;
        font-weight: 700;
        line-height: 18px;
        letter-spacing: 1.600000023841858px;
        text-align: left;
        text-decoration: none;
        color: #fff;
      }
      h3 {
        font-family: Roboto;
        font-size: 48px;
        font-weight: 700;
        line-height: 57.98px;
        width: 474px;
        height: 91px;
        color: #fff;
        margin-top: 17px;
        margin-bottom: 18px;
      }
      p {
        font-family: Roboto;
        font-size: 21px;
        font-weight: 400;
        width: 474px;
        height: 91px;
        color: #fff;
        margin-top: 100px;
      }
      .btn {
        display: flex;
        align-items: center;
        gap: 20px;
        button {
          font-family: Roboto;
          font-size: 16px;
          font-weight: 400;
          line-height: 18px;
          text-align: center;
          width: 174px;
          height: 54px;
          border-radius: 14px;
          border: none;
          background: none;
          background: #0075ff;
          color: #fff;
        }
        .btn2 {
          display: flex;
          align-items: center;
          .btnimg {
            img {
              width: 72px;
              height: 72px;
              margin-top: 10px;
            }
          }
        }
      }
    }
  }
}
