.homes {
  display: flex;
  align-items: center;
  .word {
    margin-left: 40px;
    h2 {
      font-family: Roboto;
      font-size: 60px;
      font-weight: 700;
      line-height: 73.98px;
      width: 518px;
      height: 148px;
      color: #211f54;
    }
    p {
      font-family: Roboto;
      font-size: 19px;
      font-weight: 400;
      line-height: 30.01px;
      text-align: left;
      width: 591px;
      height: 91px;
      color: #6e7191;
      margin-top: 22px;
      margin-bottom: 34px;
    }
    .btn {
      display: flex;
      align-items: center;
      gap: 28px;
      button {
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: 18px;
        text-align: center;
        width: 174px;
        height: 54px;
        border-radius: 14px;
        border: none;
        background: none;
        background: #0075ff;
        color: #fff;
      }
      .btn-call {
        display: flex;
        align-items: center;
        gap: 40px;
        .call-btn {
          display: flex;
          align-items: center;
          button {
            width: 61px;
            height: 61px;
            border: 1px;
            border-radius: 50px;
            border: 1px solid #dcddeb;
            background-color: #fff;
          }
        }
      }
    }
  }
  .imags {
    img {
      width: 100%;
    }
  }
}
