.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px;
  .logo {
    display: flex;
    align-items: center;
    gap: 20px;
    a {
      font-family: Roboto;
      font-size: 18px;
      font-weight: 400;
      color: #211f54;
      text-decoration: none;
    }
  }
  .search {
    display: flex;
    align-items: center;
    gap: 24px;
    a {
      width: 63px;
      height: 30px;
      text-decoration: none;
      color: #211f54;
    }
    button {
      font-family: Roboto;
      font-size: 16px;
      font-weight: 400;
      line-height: 18px;
      text-align: center;
      width: 174px;
      height: 54px;
      border-radius: 14px;
      border: none;
      background: none;
      background: #0075ff;
      color: #fff;
    }
  }
}
